# MacOS
.DS_Store

# IDE
.idea
.vscode

#Python
*.pyc
*__pycache__*
*.py[cod]
*$py.class
pyrightconfig.json

# local db
*.sqlite3
db_data/

dist/
django_shark_task.egg-info/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# logs
logs

scripts/
conditions/

# testing
.mypy_cache/
.pytest_cache/
htmlcov/
junit.xml
coverage.xml
.coverage